
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.myUl {
    list-style: none;
}
.myButton {
    opacity: 0;
    transition: opacity 0.5s;
    border: none;
    }
.myButton:hover {
    opacity: 1;
}